@model IEnumerable<WebAppRestaurant.Models.MenuItem>

@{
    ViewBag.Title = "Index";
    var category = "";
}

<h2>Menu</h2>


@foreach (var item in Model) {

    if (category != item.Category.Name) {
        category = item.Category.Name;
        <h3>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </h3>
    }

    <h4>
        @Html.DisplayFor(modelItem => item.Name)
    </h4>
    <p>
        @Html.DisplayFor(modelItem => item.Description)
    </p>
    <p>
        <strong>@Html.DisplayFor(modelItem => item.Price)</strong>
    </p>
}
